<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @data_file.name %>
</p>

<p>
  <strong>File:</strong>
  <%= link_to "Download", @data_file.file_url %>
</p>


<%= link_to 'Edit', edit_data_file_path(@data_file) %> |
<%= link_to 'Back', data_files_path %>
